<nav *ngIf="isLogged" class="navbar navbar-expand-lg navbar-light bg-principal shadow-sm p-0 p-sm-1">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            <img src="assets/images/logo.png" alt="ICL" class="max-h50" />
        </a>
        <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link px-4" routerLink="/">Inicio</a>
                </li>
                <li *ngIf="isLogged && !isAdmin" class="nav-item">
                    <a class="nav-link px-4" routerLink="lista-negocios">Negocios</a>
                </li>
                <li *ngIf="isLogged && isUsuario"  class="nav-item">
                    <a class="nav-link px-4" routerLink="solicitud-vale">Solicitud</a>
                </li>
                <li *ngIf="isLogged && isUsuario && solicitudRealizada"  class="nav-item">
                    <a class="nav-link px-4" routerLink="vales-usuario">Vales</a>
                </li>
                <li *ngIf="isLogged && isNegocio" class="nav-item">
                    <a class="nav-link px-4" routerLink="vales-negocio">Vales</a>
                </li>
                <li *ngIf="isLogged && isNegocio" class="nav-item">
                    <a class="nav-link px-4" routerLink="canjear-vale">Canjear</a>
                </li>
                <li *ngIf="isLogged && isAdmin" class="nav-item">
                    <a class="nav-link px-4" routerLink="lista-negocios-admin">Negocios</a>
                </li>
                <li *ngIf="isLogged && isAdmin" class="nav-item">
                    <a class="nav-link px-4" routerLink="lista-usuarios-admin">Usuarios</a>
                </li>
            </ul>
            <div>
                <ul *ngIf="isLogged" class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <button class="nav-link dropdown-toggle border-0 bg-transparent w-100" href="#"
                            id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Bienvenido, {{ email }}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end text-center" aria-labelledby="navbarDropdown">
                            <li *ngIf="isLogged && (isAdmin || isUsuario)">
                                <a class="dropdown-item" routerLink="perfil">Mi perfil</a>
                            </li>
                            <li *ngIf="isLogged && isNegocio">
                                <a class="dropdown-item" routerLink="perfil-negocio">Mi perfil</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li class="text-center">
                                <button class="btn btn-outline-danger my-2 my-sm-0" (click)="onLogOut()" type="button">
                                    Cerrar Sesión
                                </button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>