<div class="d-flex h-100vh align-items-center justify-content-center">
    <div class="card col-11 col-md-5 col-lg-5 col-xl-3 shadow-lg">
        <div class="card-body">
            <div class="row d-flex justify-content-center">
                <div class="col-6">
                    <img src="assets/images/logo.png" alt="Impulso del comercio local" class="w-100" />
                </div>
            </div>
            <h4 class="text-center mt-3">Iniciar sesión</h4>
            <div *ngIf="mensaje" class="alert alert-danger" role="alert">
                {{ mensaje }}
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="form-group m-3">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text h-100 rounded-left">
                                <i class="fas fa-user"></i>
                            </div>
                        </div>
                        <input type="text" name="email" class="form-control" placeholder="Email"
                            [formControl]="email" />
                    </div>
                    <span class="text-danger"
                        *ngIf="loginForm.get('email').errors && (loginForm.get('email').touched || loginForm.get('email').dirty)">
                        <span class="text-danger" *ngIf="email.invalid && email.errors['required']">El email es
                            obligatorio</span>
                    </span>
                </div>
                <div class="form-group m-3">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text h-100 rounded-left">
                                <i class="fas fa-key"></i>
                            </div>
                        </div>
                        <input type="contrasena" name="contrasena" class="form-control" placeholder="Contraseña"
                            [formControl]="contrasena" />
                    </div>

                    <span class="text-danger"
                        *ngIf="loginForm.get('contrasena').errors && (loginForm.get('contrasena').touched || loginForm.get('contrasena').dirty)">
                        <span class="text-danger" *ngIf="email.invalid && email.errors['required']">La contraseña es
                            obligatoria</span>
                    </span>
                </div>
                <div class="form-group m-3">
                    <button class="btn btn-success btn-block w-100" [disabled]="!loginForm.valid" type="submit">
                        Iniciar Sesión
                    </button>
                    <button class="btn btn-secondary btn-block w-100 mt-1" routerLink="/email-contrasena" type="button">
                        He olvidado la contraseña
                    </button>
                </div>
                <div class="form-group m-3">
                    <button class="btn btn-primary btn-block w-100 mt-1" routerLink="/registro" type="button">
                        Registrarse
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>