<footer class="bg-light text-center">
    <!-- <div class="row g-0 pt-3 pb-3">
        <div class="col-6 col-sm-3">
            <a class="navbar-brand" routerLink="/">
                <img src="assets/images/logo.png" alt="" class="max-h35" />
                ICL</a>
        </div>
        <div class="col-6 col-sm-3"><a class="align-bottom" href="#">Ayuda</a></div>
        <div class="col-6 col-sm-3"><a href="#">Información legal</a></div>
        <div class="col-6 col-sm-3"><a href="#">Sobre nosotros</a></div>
    </div> -->
    <div class="row g-0 pt-3 pb-3">
        <div class="col-12 col-sm-4">
            <a class="align-bottom" href="#">Ayuda</a>
        </div>
    
        <div class="col-12 col-sm-4">
            <a href="#">Sobre nosotros</a>
        </div>
    
        <div class="col-12 col-sm-4">
            <a href="#" class="me-3"><i class="fab fa-facebook"></i></a>
            <a href="#" class="me-3"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>

    <div class="row g-0 pb-1 bg-principal text-white">
        <div class="col-12 p-1">UOC 2024 Copyright</div>
    </div>
</footer>