body {
    background-color: #e9ecef;
}

.h-100vh {
    height: 100vh;
}

.max-h50 {
    max-height: 50px;
}

.max-h35 {
    max-height: 35px;
}

.bg-principal {
    background-color: #4169e1;
}

.text-principal {
    color: #4169e1;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #2e4a66;
    font-weight: bold;
}

a {
    color: #212529;
    text-decoration: none;
}

a:hover {
    color: #4169e1;
}

.page-link,
.page-link:hover {
    color: #4169e1;
}

.page-item.active .page-link {
    background-color: #4169e1;
    border-color: #4169e1;
}

.rounded-left {
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.center-cropped {
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fixed-bottom-right {
    position: fixed;
    right: 3em;
    bottom: 3em;
    z-index: 1030;
    width: 3em;
    height: 3em;
}

.z-index-top {
    z-index: 99;
}

.accordion-button:not(.collapsed) {
    background-color: white;
}

.progress {
    border: 2px solid #ccc;
    /* Agrega un borde a la barra de progreso */
    border-radius: 5px;
    /* Borde redondeado */
    height: 30px;
    background-color: #fff;
}

.progress-bar {
    font-size: 16px;
    /* Tamaño de fuente */
    line-height: 50px;
    /* Altura de línea para centrar el texto verticalmente */
}