body {
    background-color: #e9ecef;
}

.h-100vh {
    height: 100vh;
}

.max-h50 {
    max-height: 50px;
}

.max-h35 {
    max-height: 35px;
}

.bg-principal {
    background-color: #4169e1;
}

.border-custom-color {
    border-color: #e9ecef;
}

.text-principal {
    color: #4169e1;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #2e4a66;
    font-weight: bold;
}

.nav-link.activo {
    background-color: #007bff;
    /* Color de fondo azul */
    color: #fff;
    /* Texto blanco */
    border-color: #007bff;
    /* Borde azul */
}

a {
    color: #212529;
    text-decoration: none;
}

a:hover {
    color: #4169e1;
}

.page-link,
.page-link:hover {
    color: #4169e1;
}

.page-item.active .page-link {
    background-color: #4169e1;
    border-color: #4169e1;
}

.rounded-left {
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.center-cropped {
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fixed-bottom-right {
    position: fixed;
    right: 3em;
    bottom: 3em;
    z-index: 1030;
    width: 3em;
    height: 3em;
}

.clickable-row {
    cursor: pointer;
}

.accordion-button:not(.collapsed) {
    background-color: white;
}

.progress {
    border: 2px solid #ccc;
    border-radius: 5px;
    height: 30px;
    background-color: #fff;
}

.progress-bar {
    font-size: 16px;
    line-height: 50px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 345px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

