<div class="container my-4">
    <div class="card mx-2">
        <div class="card-header">
            <h2 class="card-title">Detalles del Vale</h2>
        </div>
        <div class="card-body">
            <div *ngIf="!isLoading && restante == 0" class="alert alert-danger" role="alert">
                ¡Se ha alcanzado el máximo canjeable para este vale!
            </div>
            <div class="row">
                <div class="col m-auto px-5">
                    <p class="mb-1">
                        <strong style="display: inline-block; width: 250px;">Total del Vale:</strong>
                        <span style="display: inline-block;">{{ valeUsuario.valorTotal }}€</span>
                    </p>
                    <p class="mb-1">
                        <strong style="display: inline-block; width: 250px;">Descuento Acumulado:</strong>
                        <span style="display: inline-block;">{{ valeUsuario.totalCanjeado }}€</span>
                    </p>
                    <p class="mb-1">
                        <strong style="display: inline-block; width: 250px;">Cantidad Restante del Vale:</strong>
                        <span style="display: inline-block;">{{ restante }}€</span>
                    </p>
                    <p class="mb-1">
                        <strong style="display: inline-block; width: 250px;">Fecha Registro:</strong>
                        <span style="display: inline-block;">{{ valeUsuario.fechaRegistro | date:'dd-MM-yyyy'}}</span>
                    </p>
                    <p class="mb-1">
                        <strong style="display: inline-block; width: 250px;">Fecha Límite de Uso:</strong>
                        <span style="display: inline-block;">{{ valeUsuario.fechaLimite | date:'dd-MM-yyyy'}}</span>
                    </p>
                    <p class="mb-1">
                        <strong style="display: inline-block; width: 250px;">Código del Vale:</strong>
                        <span style="display: inline-block;">{{ valeUsuario.qr}}</span>
                    </p>
                </div>
                <div class="col text-center">
                    <qrcode [qrdata]="valeUsuario.qr" [width]="150" [errorCorrectionLevel]="'M'" (click)="openQrModal(valeUsuario.qr)"></qrcode>
                </div>
            </div>
        </div>
    </div>

    <div class="card mx-2 my-4" *ngIf="dataSource.data.length > 0; else noRecords">
        <div class="card-header">
            <h2 class="card-title">Registros Canjeados</h2>
        </div>
        <div class="card-body">
        
            <input type="text" class="form-control mb-2" placeholder="Buscar..." (input)="aplicarFiltro($event)">
        
            <table mat-table *ngIf="dataSource.data.length > 0" [dataSource]="dataSource" matSort class="table">
                <ng-container matColumnDef="negocio">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 25%;">Negocio</th>
                    <td mat-cell *matCellDef="let valeCanjeado" style="width: 25%;">{{ valeCanjeado.emailNegocio }}</td>
                </ng-container>
        
                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 25%">Gasto total</th>
                    <td mat-cell *matCellDef="let valeCanjeado" style="width: 25%; ">{{ valeCanjeado.total }}€</td>
                </ng-container>
        
                <ng-container matColumnDef="descuento">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 25%;">Descuento</th>
                    <td mat-cell *matCellDef="let valeCanjeado" style="width: 25%; " >{{ valeCanjeado.descuento }}€</td>
                </ng-container>
        
                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 25%;">Fecha</th>
                    <td mat-cell *matCellDef="let valeCanjeado" style="width: 25%;">{{ valeCanjeado.fechaRegistro | date:'dd-MM-yyyy  HH:mm'}}</td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 15, 25]" showFirstLastButtons></mat-paginator>
        </div>
    </div>  
    <ng-template #noRecords>
        <div class="card my-3">
            <p class="text-center mt-4"><strong>Sin registros canjeados</strong></p>
        </div>
    </ng-template>
    <!-- Modal template -->
    <ng-template #qrModal let-modal>
        <div class="modal-backdrop" (click)="closeQrModal()">
            <div class="modal-content">
                <qrcode [qrdata]="valeUsuario.qr" [width]="300" [errorCorrectionLevel]="'M'"></qrcode>
            </div>
        </div>
    </ng-template>
</div>
