<!--
    <div class="col-4">
            Esto puede valer para la disponibilidad de vales por negocio 
        <i *ngIf="receta.dificultad === 'DIFICIL'" title="Sin vales disponibles" class="text-danger fas fa-thermometer-three-quarters" ></i>
        <i *ngIf="receta.dificultad === 'MEDIO'" title="Pocos vales disponibles" class="text-warning fas fa-thermometer-half"></i>
        <i *ngIf="receta.dificultad === 'FACIL'" title="Muchos vales disponbles" class="text-success fas fa-thermometer-quarter"></i>
    </div>
    -->

<div class="container mt-5">
    <h1 class="text-center">Impulsa el Comercio Local con Vales Descuento</h1>
    <p class="lead text-center">¡Aprovecha los vales de 50€ para compras en negocios asociados!</p>

    <!-- Sección sobre el funcionamiento de los vales descuento -->
    <div class="row mt-5">
        <div class="col-md-6">
            <h3>¿Cómo funcionan los vales descuento?</h3>
            <p>
                Cada usuario registrado obtendrá un vale de 50€ para gastar en los negocios asociados.
                Para canjearlos, simplemente muestra tu QR al realizar la compra.
                Al utilizar el vale, recibirás un descuento del 50% en tu compra.
            </p>
        </div>
        <div class="col-md-6 text-center">
            <img src="assets/images/qr-ejemplo.png" alt="Código QR" class="img-fluid" style="max-width: 150px;">
        </div>
    </div>

    <!-- Sección sobre el comercio local -->
    <div class="row mt-5 mb-5">
        <div class="col-md-6 text-center">
            <img src="assets/images/comercio-local.jpg" alt="Comercio Local" class="img-fluid" style="max-width: 450px;">
        </div>
        <div class="col-md-6 pt-5">
            <h3>Descubre el Comercio Local de Chiclana</h3>
            <p>
                En Chiclana de la Frontera, contamos con una variedad de negocios locales
                que ofrecen productos y servicios únicos. Conoce en profundidad los comercios
                de tu localidad y apoya a la economía local.
            </p>
        </div>
    </div>
</div>