<div class="container mt-5 mb-5">
    <h2>Reglas de Uso de los Vales</h2>
    <ul class="list-group">
        <li class="list-group-item">Regla 1: Lorem ipsum dolor sit amet.</li>
        <li class="list-group-item">Regla 2: Consectetur adipiscing elit.</li>
        <li class="list-group-item">Regla 3: Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
        <!-- Agrega más reglas según sea necesario -->
    </ul>

    <div class="mt-4 mb-5" >
        <h4>Progreso de Vales Entregados</h4>
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" [style.width.%]="porcentajeValesEntregados()"
                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                {{ numVales }} / 1000 Vales
            </div>
        </div>
    </div>

    <div *ngIf="solicitudRealizada">
        <qrcode [qrdata]="valeUsuario.qr" [width]="150" [errorCorrectionLevel]="'M'"></qrcode>
    </div>

    <div *ngIf="solicitudRealizada">
        <div class="alert alert-info mt-3" role="alert">
            ¡Ya tienes un vale asignado! Por favor, ve al menú de Vales.
        </div>
    </div>
    
    <div *ngIf="!solicitudRealizada && numVales >= 1000">
        <div class="alert alert-warning mt-3" role="alert">
            ¡Se ha alcanzado el máximo de vales solicitados (1000)!
        </div>
    </div>

    <div class="text-center">
        <button class="btn btn-primary btn-lg mt-3" (click)="onSolicitudVale()"
            [disabled]="numVales >= 1000 || solicitudRealizada">
            Solicitar Vale
        </button>
    </div>

</div>